a:link {
    TEXT-DECORATION: none;
}
a:visited {
    TEXT-DECORATION: none;
}
a:hover {
    TEXT-DECORATION: underline; color: green;
}

.top-left {
    width: 20%;
    height: 30px;
    float: left;
}

.top-right {
    width: 80%;
    height: 30px;
    float: left;
}

.center {
    width: 100%;
    float: left;
}

.center-left {
    width: 35%;
    float: left;
}

.center-right {
    width: 65%;
    float: left;
}

.relative {
    position: absolute;
    width: 170px;
    left: 8px;
    top: 29px;
    border:1px solid #000;
    background: #fff;
}

//.relative ul {
//    list-style-type:none;
//}