a:link {
    TEXT-DECORATION: none;
}
a:visited {
    TEXT-DECORATION: none;
}
a:hover {
    TEXT-DECORATION: underline; color: green;
}

.top-left {
    float: left;
}

.top-right {
    float: left;
}

.center {
    width: 100%;
    float: left;
}